.set__block{
	width: 50%;
	height: 70vh;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
	overflow: auto;
}
.set__item{
	text-align: center;
}
.set__item.after{
	margin-top: 80px;
}
.set__img{
	width: 60%;
	object-fit: cover;
}